.intro-container {
    flex: 2;
}

.txt-container {
    flex: 1;
}

.intro-container span {
    color: #D5D5E0;
    font-size: 12vh;
}

.txt-container span {
    color: #D5D5E0;
    font-size: 16px;
}

.txt-container .typed-h1 span {
    font-size: 22px;
    font-weight: bolder;
}

@media (max-width: 420px){
    .intro-container, .txt-container {
        text-align: center;
        padding: 10px;
    }
  }

